$logo-type-horizontal-space: $whitespace-l;

div.global-header {
  background-color: $dark-1;
  height: 50px;
  color: $dark-11;
  .logo {
    display: flex;
    align-items: center;
    background-color: $shadow-2;
    width: 200px;
    border-right: 1px solid $glow-1;
  }
  .logo-type {
    text-align: center;
    flex: 1;
  }
}
