doctype html
html.bg-dark-11
  head
    meta(charset='utf-8')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    title Service Registry
    link(href='/components.css', rel='stylesheet', type='text/css')
    link(href='/application.css', rel='stylesheet', type='text/css')

  body.bg-dark-11
    block content
      =content

    script(src='/application.js', type='text/javascript')
